* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root quiere decir "declara variables globales" */
:root {
  --color-primary: #8B4513; /* Color Marrón */
  --color-secondary: #D2691E; /* Chocolate */
  --color-accent: #DEB887; /* Madera */
  --color-text: #333333; /* Gris oscuro para texto principal (mejor contraste que negro puro) */
  --color-bg: #FDFBF7; /* Blanco hueso suave para el fondo */
  --color-white: #FFFFFF;
  --color-error: #D32F2F;

  /* Tipografia */
  --font-heading: 'Lora', serif; 
  --font-body: 'Montserrat', sans-serif;
}

.site-header {
  /* background-color: tomato; */
  background-color: var(--color-primary)
}

.main-nav {

}


.nav-list {
  
}


