/* :root quiere decir "declara variables globales" */
:root {
  --color-primary: #8B4513; /* Color Marrón */
  --color-secondary: #D2691E; /* Chocolate */
  --color-accent: #DEB887; /* Madera */
  --color-text: #333333; /* Gris oscuro para texto principal (mejor contraste que negro puro) */
  --color-bg: #FDFBF7; /* Blanco hueso suave para el fondo */
  --color-white: #FFFFFF;
  --color-error: #D32F2F;

  /* Tipografia */
  --font-heading: 'Lora', serif; 
  --font-body: 'Montserrat', sans-serif;

  /* Espaciado y Layout*/
  --container-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  line-height: 1.6; /* Altura de linea, facilita la lectura*/
}

.container {
  width: 90%; 
  border: 1px solid red;
  max-width: var(--container-width);
  margin: 0 auto; /* Centrado Horizontal*/
}

.site-header {
  background-color: var(--color-white);
  /* position: sticky; */
}