/* :root quiere decir "declara variables globales" */
:root {
  --color-primary: #8B4513; /* Color Marrón */
  --color-secondary: #D2691E; /* Chocolate */
  --color-accent: #DEB887; /* Madera */
  --color-text: #333333; /* Gris oscuro para texto principal (mejor contraste que negro puro) */
  --color-bg: #FDFBF7; /* Blanco hueso suave para el fondo */
  --color-white: #FFFFFF;
  --color-error: #D32F2F;

  /* Tipografia */
  --font-heading: 'Lora', serif; 
  --font-body: 'Montserrat', sans-serif;

  /* Espaciado y Layout*/
  --container-width: 1200px;
  --spacing-sm: 0.5rem; /*small*/
  --spacing-md: 1rem; /*medium*/
  --spacing-lg: 2rem; /*large*/
  --spacing-xl: 4rem; /*extra large*/
  --transtion: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  line-height: 1.6; /* Altura de linea, facilita la lectura*/
}

.container {
  width: 90%; 
  max-width: var(--container-width);
  margin: 0 auto; /* Centrado Horizontal*/
}

.site-header {
  background-color: var(--color-white);
  /* offset-x  offset-y blur-radius(difuminado no puede ser negativo)*/
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top:0;
  z-index: 1000;
}

.header-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--font-heading);
  color: var(--color-primary);
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: var(--spacing-lg);
}

.nav-link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transtion);
}
 /* pseudo clase  */
.nav-link:hover {
  color: var(--color-primary);
}

.hero-section {
    /* to-right, to bottom, rgba*/
    height: 80vh;
    /*
    1vh = 1% de la altura de viewport
    */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-4.0.3&auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
  
}

.hero-content h2{
  font-family: var(--font-heading);
  font-size: 3rem;
  margin-bottom: var(--spacing-md);
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: var(--spacing-lg);
}